In [ ]:
#Billling Management  System

In [2]:

product =  str (input("enter the product"))
quantity = int (input("enter the quantity"))
price = int (input("enter the price of the product"))
sum=quantity * price
print(sum)

enter the product cookies
enter the quantity 4
enter the price of the product 50

200

In [71]:
#addition of two interger values and one float value
a = 10
b = 43
c = 6.9
d = a+b+c
print(d)

59.9

In [73]:
#addition of one interger values and onestring value
a = 33
b = "mikiy"
c = str(a) + b
print(c)

33mikiy

In [1]:
#vote

name=str(input("enter the name"))
age=int(input("enter the age"))
if age >= 18:
    print("eligible to vote")
else:
    print("not eligible  to vote")

enter the name khushi
enter the age 45

eligible to vote

In [6]:
x = 5
if x > 2:
    print("yes")

yes

In [7]:
x = 10
print(int(x) + 5)

15

In [8]:
x = 0
if x:
    print('True')
else:
    print('False')

False

In [9]:
str(123)

'123'

In [10]:
if 10 < 2:
    print('A')
else:
    print('B')

B

In [11]:
num=int(input("enter the num"))
if num>0:
     print("num is positive")
else:
    print("num is negative")

enter the num 4

num is positive

In [12]:
#odd and even
num=int(input("enter the number"))
if num%2==0:
     print("num is even")
else:aq1
    print("num is odd")

enter the number 5

num is odd

In [13]:
#marks checking
marks=int(input("enter marks"))
if marks>=40:
     print("pass")
else:
    print("fail")

enter marks 34

fail

In [14]:
#length check
name=str(input("enter the name"))
if len(name)>5:
     print("length is greater then five")
else:
    print("it is not")

enter the name sakshii

length is greater then five

In [15]:
x = 10
if x > 5:
    print('A')
elif x > 3:
    print('B')
else:
    print('C')

A

In [17]:
if x > 10: print('High') 
elif x == 10: print('Equal') 
else: print('Low')

Equal

In [34]:
#weather  checking
Month = str(input("enter the month"))
if Month in['march','April','may']:
    print("Spring")
elif Month in['june','july','August']:
     print("summer")
elif Month in['september','october','november']:
     print("Autum")
elif Month in['December', 'January','February' ]:
     print("winter")
else:
     print("workdone")

enter the month march

Spring

In [35]:
# mode of transportation 
modeoftransport=str(input("enter mode of transport"))
vehicle=str(input("enter vehicle"))
if modeoftransport=="air":
    if vehicle=="aeroplane":
        print("you are in aeroplane")
    elif vehicle=="helicopter":
        print("you are in helicopter")
if modeoftransport=="water":
    if vehicle=="ship":
        print("you are in ship")
    elif vehicle=="cruise":
        print("you are in cruise")
if modeoftransport=="land":
    if vehicle=="car":
        print("you are in car")
    elif vehicle=="bus":
        print("you are in bus")

enter mode of transport water
enter vehicle ship

you are in ship

In [37]:
x = 4
y = 2
if x > 2:
    if y > 3:
        print('Yes')
    else:
        print('No')

No

In [38]:
x = 7
if x > 5:
    print('High')
else:
    print('Low')

High

In [44]:
if x==1: 
    print('One') 
elif x==2: 
    print('Two')

In [45]:
marks = 45
if marks >= 40:
    print('Pass')
else:
    print('Fail')

Pass

In [46]:

x = 3
if x == 5:
    print('Five')
elif x == 3:
    print('Three')
else:
    print('Other')

Three

In [47]:
x = 3
if x == 5:
    print('Five')
elif x == 3:
    print('Three')
else:
    print('Other')

Three

In [48]:
# Check number is positive, negative or zero

num = float(input("Enter a number: "))

if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number:  -9

The number is negative.

In [49]:
age = int(input("Enter a age : "))

if age < 13:
    print("child .")
elif age < 18:
    print(" teen")
else:
    print("adult.")

Enter a age :  4

child .

In [52]:
#even or not (nested if)
num=int(input("enter the no. "))
if num%2==0:
    print("even")
    if num>10:
        print("num greater than 10")
    else:
        print("number is not greater then 10")
else:
    print("odd")

enter the no.  2

even
number is not greater then 10

In [59]:

Marks = int(input("enter the marks"))

if Marks > 90:
    print("A")
elif Marks > 75:
    print("B")
elif Marks   > 60:
    print("C")
else:
    print("Fail.")

enter the marks 56

Fail.

In [64]:
# Ask user for 3 numbers and find the geratest one
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a > b:
    if a > c:
        print("Greatest number is:", a)
    else:
        print("Greatest number is:", c)
else:
    if b > c:
        print("Greatest number is:", b)
    else:
        print("Greatest number is:", c)

Enter first number:  56
Enter second number:  78
Enter third number:  90

Greatest number is: 90

In [1]:
   a = 3 + 2 * 2
print(a)

7

In [3]:
if i == 1: 
continue;
    print(i)

IndentationError: expected an indented block after 'if' statement on line 1 (3483447791.py, line 2)

In [6]:
  a = 10 // 3
print(a)

3

In [7]:
a = True
print(not a)             # not True → False

b = 4
print(not (b > 2))       # not True → False

False
False

In [ ]:
a = 5
print(a < 2 or a < 10)   # False OR True → True
print(a > 10 or a < 3)   # False OR False → False

In [8]:
a = 5
print(a > 2 and a < 10)  # True AND True → True
print(a > 2 and a > 10)  # True AND False → False

True
False

In [24]:
num=int(input("enter the no. "))
if (num % 3 and num % 7) :
    print("number is divisible bye both 3 and 7")
else:
    print("number is not  divisible bye both 3 and 7")

enter the no.  6

number is not  divisible bye both 3 and 7

In [23]:
 i = 1
count = 0
while i<=3:
      num = int(input("number:"))
           if num > 0:
             count+=1
print(f"total positive number:{count}")

IndentationError: unexpected indent (841646768.py, line 5)

In [27]:
for num in range(1, 100):
    if num % 2 == 0:
        print(num, "is even")
    else:
        print(num, "is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even
41 is odd
42 is even
43 is odd
44 is even
45 is odd
46 is even
47 is odd
48 is even
49 is odd
50 is even
51 is odd
52 is even
53 is odd
54 is even
55 is odd
56 is even
57 is odd
58 is even
59 is odd
60 is even
61 is odd
62 is even
63 is odd
64 is even
65 is odd
66 is even
67 is odd
68 is even
69 is odd
70 is even
71 is odd
72 is even
73 is odd
74 is even
75 is odd
76 is even
77 is odd
78 is even
79 is odd
80 is even
81 is odd
82 is even
83 is odd
84 is even
85 is odd
86 is even
87 is odd
88 is even
89 is odd
90 is even
91 is odd
92 is even
93 is odd
94 is even
95 is odd
96 is even
97 is odd
98 is even
99 is odd
100 is even

In [29]:
num=int(input("enter the no. "))
if ((num % 3 == 0) and (num % 7==0)) :
    print("number is divisible bye both 3 and 7")
else:
    print("number is not  divisible bye both 3 and 7")

enter the no.  90

number is not  divisible bye both 3 and 7

In [34]:
print("number in reverser order")
n = 50
while n>=0:
  print(n)
  n-=1

number in reverser order
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [41]:

print("leap year ")
year = int(input("enter the year"))
           
if year%4==0 and year%100 == 0:
     print("its leap year")
else:
      print("its  not a leap year")

leap year

enter the year 2028

its  not a leap year

In [38]:
count = 0
for n in range(1,101)
  if n%5==0
    count+=1
 print(f"total number:{count}")

IndentationError: unindent does not match any outer indentation level (<string>, line 5)

In [ ]:
num = float(input("Enter a number: "))

if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

In [ ]:
n = float(input("enter the number:")
if n > 0:
     print("The number is positive.")
elif n < 0:
     print("The number is nagative.")
else :
     print("The number is zero.")

In [ ]:
for i in range(1,30):
  if i%4==0:
      continue 
     print(i)